@font-face {
  font-family: 'Clan';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrNews.eot"), url("../fonts/ClanOT-NarrNews.woff2") format("woff2"), url("../fonts/ClanOT-NarrNews.woff") format("woff"), url("../fonts/ClanOT-NarrNews.ttf") format("truetype"), url("../fonts/ClanOT-NarrNews.svg#ClanOT-NarrNews") format("svg"), url("../fonts/ClanOT-NarrNews.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'Clan-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrNewsItalic.eot"), url("../fonts/ClanOT-NarrNewsItalic.woff2") format("woff2"), url("../fonts/ClanOT-NarrNewsItalic.woff") format("woff"), url("../fonts/ClanOT-NarrNewsItalic.ttf") format("truetype"), url("../fonts/ClanOT-NarrNewsItalic.svg#ClanOT-NarrNewsItalic") format("svg"), url("../fonts/ClanOT-NarrNewsItalic.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'Clan-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrBold.eot"), url("../fonts/ClanOT-NarrBold.woff2") format("woff2"), url("../fonts/ClanOT-NarrBold.woff") format("woff"), url("../fonts/ClanOT-NarrBold.ttf") format("truetype"), url("../fonts/ClanOT-NarrBold.svg#ClanOT-NarrBold") format("svg"), url("../fonts/ClanOT-NarrBold.eot?#iefix") format("embedded-opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clan-Bold", Helvetica, sans-serif;
}

input,
p {
  font-family: "Clan", Helvetica, sans-serif;
}

.btn-primary {
  background: -webkit-linear-gradient(#7ea92d 0%, #4c6a06 100%);
  background: linear-gradient(#7ea92d 0%, #4c6a06 100%);
  border: 1px solid #7ea92d;
  font-family: "Clan-Bold", Helvetica, sans-serif;
  text-transform: uppercase;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Clan", Helvetica, sans-serif;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 320px) {
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar {
  background: #2e2208 url("../images/backgrounds/HeaderBG.png") no-repeat center center;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar-brand {
  height: auto;
  margin: 2.8rem 0;
}

@media only screen and (min-width: 320px) {
  .navbar-brand {
    padding: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (min-width: 769px) {
  .navbar-brand {
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.navbar-nav li a {
  color: #fff;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .navbar-nav li a {
    margin: .5rem;
    padding: .5rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-nav li a {
    margin: 1.2rem;
    padding: 1.2rem;
  }
}

.navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggle {
  background-color: #aa7248;
  margin-top: 1.8rem;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-primary {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar-secondary {
  background: #4f5a23;
  border-width: 0;
  margin: 0;
  min-height: auto;
  padding: 0;
}

.navbar-secondary .navbar-nav li:first-child {
  background: #363d18;
}

.navbar-secondary .navbar-nav li:first-child a {
  margin: 1.2rem 3rem;
}

.navbar-secondary .navbar-nav li a {
  color: #cfcfab;
  margin: 1.2rem 2.8rem;
  padding: 0;
}

.navbar-collapse {
  position: relative;
}

#navbar-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17.8rem;
}

@media only screen and (min-width: 320px) {
  #navbar-primary {
    display: none;
    overflow: hidden;
  }
}

@media only screen and (min-width: 769px) {
  #navbar-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#navbar-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) {
  #navbar-secondary {
    display: none;
    overflow: hidden;
  }
}

@media only screen and (min-width: 769px) {
  #navbar-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .video-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headline--h2 {
  color: #4f5a23;
  font-size: 3.6rem;
  text-transform: uppercase;
}

.headline--h2 small {
  font-size: 1.8rem;
}

.headline--underline {
  margin-bottom: 4rem;
  position: relative;
}

.headline--underline::after {
  background: #aec45f;
  bottom: -2rem;
  content: '';
  height: 2px;
  left: 50%;
  min-width: 6rem;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5%;
}

.parrafo-gris {
  color: #777;
}

.parrafo-blanco {
  color: #fff;
}

.section--full-height {
  height: 100%;
  padding-top: 15rem;
}

.section-intro {
  padding-top: 0;
}

.section-intro .video-container {
  background-image: url("../images/backgrounds/video-example.png");
  background-size: cover;
  min-height: 100vh;
}

.section-conglomerado {
  padding-top: 0 !important;
  height: 60%;
  min-height: 45rem;
  background-color: #fff;
  position: relative;
}

.section-conglomerado .lead {
  margin-top: -15rem;
}

@media only screen and (min-width: 320px) {
  .section-conglomerado {
    height: 48%;
  }
  .section-conglomerado .lead {
    margin-top: 0;
  }
}

@media only screen and (min-width: 480px) {
  .section-conglomerado {
    height: 35%;
  }
  .section-conglomerado .lead {
    margin-top: 0;
  }
}

@media only screen and (min-width: 769px) {
  .section-conglomerado {
    height: 50%;
  }
  .section-conglomerado .lead {
    margin-top: -15rem;
  }
}

@media only screen and (min-width: 992px) {
  .section-conglomerado {
    height: 50%;
  }
  .section-conglomerado .lead {
    margin-top: 20rem;
  }
}

.section-puertas {
  padding-top: 0;
  position: relative;
  overflow: hidden;
}

.section-panama {
  position: relative;
  height: 20%;
  background-color: #ccc;
  overflow: hidden;
}

.section-panama .lead {
  font-size: 1.8rem;
  padding: 8.6rem 0;
  margin: 0;
}

.section-features {
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
}

.section-features .img-left {
  margin-left: -1.5rem;
}

.section-features ul {
  max-width: 45.5rem;
  margin-left: 5rem;
  margin-top: 6.5rem;
}

.section-features ul li {
  font-size: 1.8rem;
  color: #777;
  margin-bottom: 2rem;
  position: relative;
}

.section-features ul li::before {
  content: '\f05d';
  font-family: 'FontAwesome';
  position: absolute;
  top: 0;
  left: -5rem;
  color: #aa7248;
}

.section-maderas {
  background-color: #ccc;
}

.bg-image {
  top: 0;
  position: absolute;
}

.footer {
  padding: 3rem;
  background: #2e2208;
}

.footer h4 {
  color: #aa7248;
}

.footer .contact-info {
  padding-left: 5rem;
}

.footer .subfoot img {
  margin-bottom: 3rem;
}

.footer .contact li {
  color: #fff;
  margin-bottom: 2rem;
  font-size: 1.6rem;
}

.footer .contact li::before {
  font-family: 'FontAwesome';
  color: #aa7248;
  font-size: 1.8rem;
  position: absolute;
  top: 0;
  left: -3rem;
}

.footer .contact li:nth-child(1) {
  position: relative;
}

.footer .contact li:nth-child(1)::before {
  content: '\f041';
}

.footer .contact li:nth-child(2) {
  position: relative;
}

.footer .contact li:nth-child(2)::before {
  content: '\f003';
}

.footer .contact li:nth-child(3) {
  position: relative;
}

.footer .contact li:nth-child(3)::before {
  content: '\f095';
}
