@font-face {
  font-family: 'Clan';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrNews.eot"), url("../fonts/ClanOT-NarrNews.woff2") format("woff2"), url("../fonts/ClanOT-NarrNews.woff") format("woff"), url("../fonts/ClanOT-NarrNews.ttf") format("truetype"), url("../fonts/ClanOT-NarrNews.svg#ClanOT-NarrNews") format("svg"), url("../fonts/ClanOT-NarrNews.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'Clan-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrNewsItalic.eot"), url("../fonts/ClanOT-NarrNewsItalic.woff2") format("woff2"), url("../fonts/ClanOT-NarrNewsItalic.woff") format("woff"), url("../fonts/ClanOT-NarrNewsItalic.ttf") format("truetype"), url("../fonts/ClanOT-NarrNewsItalic.svg#ClanOT-NarrNewsItalic") format("svg"), url("../fonts/ClanOT-NarrNewsItalic.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'Clan-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrBold.eot"), url("../fonts/ClanOT-NarrBold.woff2") format("woff2"), url("../fonts/ClanOT-NarrBold.woff") format("woff"), url("../fonts/ClanOT-NarrBold.ttf") format("truetype"), url("../fonts/ClanOT-NarrBold.svg#ClanOT-NarrBold") format("svg"), url("../fonts/ClanOT-NarrBold.eot?#iefix") format("embedded-opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clan-Bold", Helvetica, sans-serif;
}

input,
p {
  font-family: "Clan", Helvetica, sans-serif;
}

.btn-primary {
  background: -webkit-linear-gradient(#7ea92d 0%, #4c6a06 100%);
  background: linear-gradient(#7ea92d 0%, #4c6a06 100%);
  border: 1px solid #7ea92d;
  font-family: "Clan-Bold", Helvetica, sans-serif;
  text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  border: 1px solid #7ea92d;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Clan", Helvetica, sans-serif;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 320px) {
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar {
  background: #2e2208 url("../images/backgrounds/HeaderBG.png") no-repeat center center;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

.navbar-brand {
  height: auto;
  margin: 2.8rem 0;
}

@media only screen and (min-width: 320px) {
  .navbar-brand {
    padding: 0;
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
}

@media only screen and (min-width: 769px) {
  .navbar-brand {
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
}

.navbar-nav li a {
  color: #fff;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .navbar-nav li a {
    margin: .5rem;
    padding: .5rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-nav li a {
    margin: 1.2rem;
    padding: 1.2rem;
  }
}

.navbar-nav li a:hover, .navbar-nav li a:active, .navbar-nav li a:focus {
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-toggle {
  background-color: #aa7248;
  margin-top: 1.8rem;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-primary {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar-secondary {
  background: #4f5a23;
  border-width: 0;
  margin: 0;
  min-height: auto;
  padding: 0;
}

.navbar-secondary .navbar-nav li:first-child {
  background: #363d18;
}

.navbar-secondary .navbar-nav li:first-child a {
  margin: 1.2rem 3rem;
}

.navbar-secondary .navbar-nav li a {
  color: #cfcfab;
  margin: 1.2rem 2.8rem;
  padding: 0;
}

.navbar-collapse {
  position: relative;
}

#navbar-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 17.8rem;
}

@media only screen and (min-width: 320px) {
  #navbar-primary {
    display: none;
    overflow: hidden;
  }
}

@media only screen and (min-width: 769px) {
  #navbar-primary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#navbar-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) {
  #navbar-secondary {
    display: none;
    overflow: hidden;
  }
}

@media only screen and (min-width: 769px) {
  #navbar-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header .video-container {
  background: #222513;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .video-container video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
}

.headline--h2 {
  color: #fff;
  font-size: 3.6rem;
}

.headline--h2 small {
  font-size: 1.8rem;
}

.headline--underline {
  margin-bottom: 4rem;
  position: relative;
}

.headline--underline::after {
  background: #aec45f;
  bottom: -2rem;
  content: '';
  height: 2px;
  left: 50%;
  min-width: 6rem;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5%;
}

.parrafo-gris {
  color: #777;
}

.parrafo-blanco {
  color: #fff;
}

.section--padding {
  padding: 8rem 0;
}

.section--programas {
  background: #443c10 url("../images/backgrounds/programas-bg.jpg") no-repeat center;
  background-size: cover;
}

.section--programas .lead {
  color: #fff;
}

.section--programas .thumbnail {
  border: 0;
  padding: 0;
}

.section--programas__item-image {
  border-radius: .4rem .4rem 0 0;
  max-height: 16.7rem;
  overflow: hidden;
}

.section--programas .caption h4 {
  color: #4f5a23;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: .5rem 0;
}

.section--programas .caption h3 {
  color: #4f5a23;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 2.8rem;
  margin: 0 0 .5rem;
  text-transform: uppercase;
}

.section--programas .caption p {
  color: #929974;
}

.section--instalaciones {
  background: #4f5a23 url("../images/backgrounds/instalaciones-bg.jpg") no-repeat center;
  background-size: cover;
}

.section--instalaciones .lead {
  color: #fff;
}

.section--testimonios {
  background: #363d18 url("../images/backgrounds/testimonios-bg.jpg") no-repeat right;
  background-size: cover;
}

.section--testimonios__texto-container {
  border: 0;
  margin: auto;
  max-width: 60%;
}

.section--testimonios__texto {
  color: #929974;
}

.section--testimonios__author {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.section--testimonios__from {
  color: #929974;
  margin: 0;
}

.owl-carousel .owl-dot span {
  background: #4f5a23 !important;
}

.owl-carousel .owl-dot.active span {
  background: #aec45f !important;
}

.footer {
  background: #35360d;
  padding: 3rem;
}

.footer__headline {
  color: #fff;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

.footer__brand img {
  margin-bottom: 3rem;
}

.footer__nav li {
  margin-bottom: 2rem;
}

.footer__nav li a {
  font-size: 1.6rem;
}

.footer__contact-info {
  padding-left: 5rem;
}

.footer__contact-info li {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.footer__contact-info li::before {
  color: #aec45f;
  font-family: 'FontAwesome';
  font-size: 1.8rem;
  left: -3rem;
  position: absolute;
  top: 0;
}

.footer__contact-info li:nth-child(1) {
  position: relative;
}

.footer__contact-info li:nth-child(1)::before {
  content: '\f041';
}

.footer__contact-info li:nth-child(2) {
  position: relative;
}

.footer__contact-info li:nth-child(2)::before {
  content: '\f003';
}

.footer__contact-info li:nth-child(3) {
  position: relative;
}

.footer__contact-info li:nth-child(3)::before {
  content: '\f095';
}

.footer a,
.footer p {
  color: #929974;
  text-decoration: none;
}

.underfooter {
  background-color: #332d0c;
  padding: 2rem;
}

.underfooter span {
  color: #929974;
}

.underfooter span a {
  color: #929974;
}
