@font-face {
  font-family: 'Clan';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrNews.eot"), url("../fonts/ClanOT-NarrNews.woff2") format("woff2"), url("../fonts/ClanOT-NarrNews.woff") format("woff"), url("../fonts/ClanOT-NarrNews.ttf") format("truetype"), url("../fonts/ClanOT-NarrNews.svg#ClanOT-NarrNews") format("svg"), url("../fonts/ClanOT-NarrNews.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'Clan-Italic';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrNewsItalic.eot"), url("../fonts/ClanOT-NarrNewsItalic.woff2") format("woff2"), url("../fonts/ClanOT-NarrNewsItalic.woff") format("woff"), url("../fonts/ClanOT-NarrNewsItalic.ttf") format("truetype"), url("../fonts/ClanOT-NarrNewsItalic.svg#ClanOT-NarrNewsItalic") format("svg"), url("../fonts/ClanOT-NarrNewsItalic.eot?#iefix") format("embedded-opentype");
}

@font-face {
  font-family: 'Clan-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/ClanOT-NarrBold.eot"), url("../fonts/ClanOT-NarrBold.woff2") format("woff2"), url("../fonts/ClanOT-NarrBold.woff") format("woff"), url("../fonts/ClanOT-NarrBold.ttf") format("truetype"), url("../fonts/ClanOT-NarrBold.svg#ClanOT-NarrBold") format("svg"), url("../fonts/ClanOT-NarrBold.eot?#iefix") format("embedded-opentype");
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Clan-Bold", Helvetica, sans-serif;
}

input,
p {
  font-family: "Clan", Helvetica, sans-serif;
}

.btn-primary {
  background: -webkit-linear-gradient(#7ea92d 0%, #4c6a06 100%);
  background: linear-gradient(#7ea92d 0%, #4c6a06 100%);
  border: 1px solid #7ea92d;
  font-family: "Clan-Bold", Helvetica, sans-serif;
  text-transform: uppercase;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
  background: -webkit-linear-gradient(#4c6a06 0%, #7ea92d 100%);
  background: linear-gradient(#4c6a06 0%, #7ea92d 100%);
  border: 1px solid #7ea92d;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: "Clan", Helvetica, sans-serif;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

@media only screen and (min-width: 320px) {
  .no-padding {
    padding-left: 0;
    padding-right: 0;
  }
}

.navbar {
  background: #2e2208 url("../images/backgrounds/HeaderBG.png") no-repeat center center;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;
}

@media only screen and (min-width: 320px) {
  .navbar {
    background: #2e2208;
  }
}

@media only screen and (min-width: 769px) {
  .navbar {
    background: #2e2208 url("../images/backgrounds/HeaderBG.png") no-repeat center center;
  }
}

@media only screen and (min-width: 320px) {
  .navbar-header {
    background: #2e2208 url("../images/backgrounds/HeaderBG.png") no-repeat center center;
    display: block;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-header {
    background: #2e2208;
  }
}

.navbar-brand {
  height: auto;
  margin: 2.8rem 0;
}

@media only screen and (min-width: 320px) {
  .navbar-brand {
    margin: 0;
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-brand {
    margin: 2.8rem 0;
    padding: 0;
    -webkit-transform: none;
            transform: none;
  }
}

@media only screen and (min-width: 320px) {
  .navbar-brand-logo {
    max-height: 8rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-brand-logo {
    max-height: none;
  }
}

.navbar-nav li a {
  color: #fff;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .navbar-nav li a {
    margin: .5rem;
    padding: .5rem;
  }
}

@media only screen and (min-width: 480px) {
  .navbar-nav li a {
    margin: .2rem;
    padding: .2rem;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-nav li a {
    margin: .7rem;
    padding: .7rem;
  }
}

@media only screen and (min-width: 992px) {
  .navbar-nav li a {
    margin: 1.2rem;
    padding: 1.2rem;
  }
}

@media only screen and (min-width: 1200px) {
  .navbar-nav li a {
    margin: 1.2rem;
    padding: 1.2rem;
  }
}

.navbar-nav li a:active, .navbar-nav li a:focus, .navbar-nav li a:hover {
  background-color: rgba(255, 255, 255, 0);
}

.navbar-toggle {
  background-color: #4f5a23;
  margin-top: 1.8rem;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

@media only screen and (min-width: 320px) {
  .navbar-toggle {
    margin: 3.8rem 1.5rem 3.8rem 0;
  }
}

.navbar-primary {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navbar-secondary {
  background: #4f5a23;
  border-width: 0;
  margin: 0;
  min-height: auto;
  padding: 0;
}

@media only screen and (min-width: 320px) {
  .navbar-secondary {
    padding: .8rem;
    text-align: center;
  }
  .navbar-secondary .btn-primary {
    margin: 0 auto;
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  .navbar-secondary {
    padding: 0;
  }
}

.navbar-secondary .navbar-nav li:first-child {
  background: #363d18;
}

.navbar-secondary .navbar-nav li:first-child a {
  margin: 1.2rem 3rem;
}

.navbar-secondary .navbar-nav li a {
  color: #cfcfab;
  margin: 1.2rem 2.8rem;
  padding: 0;
}

@media only screen and (min-width: 480px) {
  .navbar-secondary .navbar-nav li a {
    margin: 1rem 2rem;
  }
}

.navbar-collapse {
  position: relative;
}

.navbar-collapse .navbar-collapse .in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow-y: auto;
}

#navbar-primary {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-width: 320px) {
  #navbar-primary {
    height: auto;
    padding-bottom: 15px;
  }
}

@media only screen and (min-width: 769px) {
  #navbar-primary {
    min-height: 17.8rem;
    padding-bottom: 0;
  }
}

#navbar-primary hr {
  border-top-color: rgba(255, 255, 255, 0.1);
}

#navbar-secondary {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (min-width: 320px) {
  #navbar-secondary {
    display: none;
  }
  #navbar-secondary .navbar-nav li:first-child {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (min-width: 769px) {
  #navbar-secondary {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #navbar-secondary .navbar-nav li:first-child {
    display: block;
  }
}

.header .video-container {
  background: #222513;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .video-container video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

@media only screen and (min-width: 320px) {
  .header .video-container {
    max-height: 23rem;
  }
}

@media only screen and (min-width: 769px) {
  .header .video-container {
    max-height: 72rem;
  }
}

.headline--h2 {
  color: #fff;
  font-size: 3.6rem;
  margin-top: 0;
}

@media only screen and (min-width: 320px) {
  .headline--h2 {
    font-size: 2.4rem;
    margin-top: -1rem;
  }
}

@media only screen and (min-width: 769px) {
  .headline--h2 {
    font-size: 2.6rem;
    margin-top: 0;
  }
}

.headline--underline {
  margin-bottom: 4rem;
  position: relative;
}

@media only screen and (min-width: 320px) {
  .headline--underline {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 769px) {
  .headline--underline {
    margin-bottom: 4rem;
  }
}

.headline--underline::after {
  background: #aec45f;
  bottom: -1rem;
  content: '';
  height: 2px;
  left: 50%;
  min-width: 6rem;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 5%;
}

@media only screen and (min-width: 320px) {
  .headline--underline {
    bottom: -1rem;
  }
}

.parrafo-gris {
  color: #777;
}

.parrafo-blanco {
  color: #fff;
}

.section--padding {
  padding: 2rem 0;
}

.section--programas {
  background: #443c10 url("../images/backgrounds/programas-bg.jpg") no-repeat center;
  background-size: cover;
}

.section--programas .lead {
  color: #fff;
  font-size: 1.6rem;
}

.section--programas .thumbnail {
  border: 0;
  padding: 0;
}

@media only screen and (min-width: 320px) {
  .section--programas .hero-feature {
    margin: 0 auto;
    max-width: 36rem;
  }
}

.section--programas__item-image {
  border-radius: .4rem .4rem 0 0;
  max-height: 16.7rem;
  overflow: hidden;
}

.section--programas .caption h4 {
  color: #4f5a23;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 1.6rem;
  margin: .5rem 0;
}

.section--programas .caption h3 {
  color: #4f5a23;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 2rem;
  margin: 0 0 .5rem;
  text-transform: uppercase;
}

.section--programas .caption p {
  color: #929974;
}

.section--instalaciones {
  background: #4f5a23 url("../images/backgrounds/instalaciones-bg.jpg") no-repeat center;
  background-size: cover;
}

.section--instalaciones .lead {
  color: #fff;
  font-size: 1.6rem;
}

.section--instalaciones__gallery .portfolio-item {
  margin-bottom: 3rem;
}

.section--instalaciones__gallery .portfolio-item a {
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  display: block;
  max-width: 80%;
  overflow: hidden;
}

@media only screen and (min-width: 320px) {
  .section--instalaciones__gallery .portfolio-item a {
    margin-left: auto;
    margin-right: auto;
  }
}

@media only screen and (min-width: 769px) {
  .section--instalaciones__gallery .portfolio-item a {
    max-width: 100%;
  }
}

.section--instalaciones__gallery .portfolio-item a img {
  margin-left: auto;
  margin-right: auto;
}

.section--instalaciones__gallery .row:last-child .portfolio-item:last-child {
  margin-bottom: 0;
}

.section--testimonios {
  background: #363d18 url("../images/backgrounds/testimonios-bg.jpg") no-repeat right;
  background-size: cover;
}

@media only screen and (min-width: 320px) {
  .section--testimonios {
    background: #363d18 url("../images/backgrounds/testimonios-responsive.jpg") no-repeat top right;
    background-size: cover;
  }
}

@media only screen and (min-width: 769px) {
  .section--testimonios {
    background: #363d18 url("../images/backgrounds/testimonios-bg.jpg") no-repeat top right;
    background-size: cover;
  }
}

.section--testimonios__texto-container {
  border: 0;
  margin: auto;
  max-width: 60%;
}

@media only screen and (min-width: 320px) {
  .section--testimonios__texto-container {
    max-width: 100%;
  }
}

@media only screen and (min-width: 769px) {
  .section--testimonios__texto-container {
    max-width: 60%;
  }
}

.section--testimonios__texto {
  color: #929974;
}

@media only screen and (min-width: 320px) {
  .section--testimonios__texto {
    background-color: rgba(54, 61, 24, 0.8);
    padding: 2rem;
    text-shadow: 0.1rem 0.1rem 0.1rem rgba(54, 61, 24, 0.9);
  }
}

@media only screen and (min-width: 769px) {
  .section--testimonios__texto {
    background-color: rgba(54, 61, 24, 0);
    padding: 0;
  }
}

.section--testimonios__author {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0;
}

.section--testimonios__from {
  color: #929974;
  margin: 0;
}

.owl-carousel .owl-dot span {
  background: #4f5a23 !important;
}

.owl-carousel .owl-dot.active span {
  background: #aec45f !important;
}

.section--quienes-somos {
  background: #302a1d url("../images/backgrounds/selva-bg.png") no-repeat center;
}

.section--quienes-somos__image {
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-radius: .5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
  margin-bottom: 3rem;
  overflow: hidden;
}

@media only screen and (min-width: 320px) {
  .section--quienes-somos__image {
    margin-top: 0;
  }
}

@media only screen and (min-width: 769px) {
  .section--quienes-somos__image {
    margin-top: 3rem;
  }
}

@media only screen and (min-width: 320px) {
  .section--quienes-somos__texto {
    margin-top: 0;
  }
}

@media only screen and (min-width: 769px) {
  .section--quienes-somos__texto {
    margin-top: 3rem;
  }
}

.section--quienes-somos__texto p {
  color: #cfcfab;
  font-size: 1.6rem;
  text-align: justify;
}

.section--quienes-somos__texto blockquote {
  border-color: #aec45f;
  font-style: italic;
}

.section--quienes-somos__texto blockquote p {
  font-size: 2rem;
}

.section--quienes-somos h3 {
  color: #aec45f;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 2rem;
  font-style: italic;
}

.section--programas {
  background: #302a1d url("../images/backgrounds/selva-bg.png") no-repeat center;
  background-size: cover;
}

.section--programas--card__heading {
  margin: 0 auto;
  margin-bottom: 2rem;
  max-width: 38rem;
}

.section--programas--card__heading-image {
  border: 1px solid rgba(255, 255, 255, 0.42);
  border-radius: .5rem .5rem 0 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
}

.section--programas--card__heading-image img {
  margin: 0 auto;
}

.section--programas--card__heading-title {
  background: -webkit-linear-gradient(#7ea92d 0%, #4c6a06 100%);
  background: linear-gradient(#7ea92d 0%, #4c6a06 100%);
  border: 1px solid #7ea92d;
  border-radius: 0 0 .5rem .5rem;
  padding: 1rem;
}

.section--programas--card__heading-title h3 {
  color: #fff;
  font-size: 1.8rem;
  margin: 0 auto;
  text-transform: uppercase;
}

.section--programas--card__heading-title h3 span {
  color: #cfcfab;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 1.6rem;
}

.section--programas--card__texto {
  color: #cfcfab;
  margin: 0 auto;
  text-align: justify;
}

.section--programas--card__texto strong {
  font-family: "Clan-Bold", Helvetica, sans-serif;
}

.section--programas--card button {
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.footer {
  background: #35360d;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.footer__headline {
  color: #fff;
  font-family: "Clan", Helvetica, sans-serif;
  font-size: 2rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 320px) {
  .footer__brand img {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 769px) {
  .footer__brand img {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 320px) {
  .footer__brand p {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  .footer__brand p {
    text-align: left;
  }
}

.footer__nav li {
  margin-bottom: 2rem;
}

.footer__nav li a {
  font-size: 1.6rem;
}

@media only screen and (min-width: 320px) {
  .footer__contact-info .contact {
    padding-left: 4rem;
  }
}

@media only screen and (min-width: 769px) {
  .footer__contact-info .contact {
    padding-left: 3rem;
  }
}

.footer__contact-info .contact li {
  color: #fff;
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.footer__contact-info .contact li a {
  display: inline-block;
  width: 100%;
  word-wrap: break-word;
}

@media only screen and (min-width: 320px) {
  .footer__contact-info .contact li a {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 769px) {
  .footer__contact-info .contact li a {
    font-size: inherit;
  }
}

.footer__contact-info .contact li::before {
  color: #aec45f;
  font-family: 'FontAwesome';
  font-size: 1.8rem;
  left: -3rem;
  position: absolute;
  top: 0;
}

.footer__contact-info .contact li:nth-child(1) {
  position: relative;
}

.footer__contact-info .contact li:nth-child(1)::before {
  content: '\f041';
}

.footer__contact-info .contact li:nth-child(2) {
  position: relative;
}

.footer__contact-info .contact li:nth-child(2)::before {
  content: '\f003';
}

.footer__contact-info .contact li:nth-child(3) {
  position: relative;
}

.footer__contact-info .contact li:nth-child(3)::before {
  content: '\f095';
}

.footer a,
.footer p {
  color: #929974;
  text-align: justify;
  text-decoration: none;
}

.footer hr {
  border-color: rgba(146, 153, 116, 0.3);
}

.footer .icon-list {
  margin-left: 0;
}

@media only screen and (min-width: 320px) {
  .footer .icon-list {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  .footer .icon-list {
    text-align: left;
  }
}

.footer .icon-list li {
  border: 1px solid #929974;
  border-radius: 3rem;
  height: 4rem;
  position: relative;
  width: 4rem;
}

.footer .icon-list a {
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media only screen and (min-width: 320px) {
  .footer .terminos {
    text-align: center;
  }
}

@media only screen and (min-width: 769px) {
  .footer .terminos {
    text-align: left;
  }
}

.underfooter {
  background-color: #332d0c;
  padding: 2rem;
}

.underfooter span {
  color: #929974;
  word-wrap: break-word;
}

.underfooter span a {
  color: #929974;
}
