.btn {
  &-primary {
      background: linear-gradient(rgba(126, 169, 45, 1) 0%, rgba(76, 106, 6, 1) 100%);
      border: 1px solid rgba(126, 169, 45, 1);
      font-family: $clan-bold;
      text-transform: uppercase;
    }
}
