body {
  -webkit-font-smoothing: antialiased;
  font-family: $clan;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;

  @include xxs-device {
    padding-left: 0;
    padding-right: 0;
  }
}

.site-branding {
  display: none;
}
