.headline {
  &--h2 {
    color: $blanco;
    font-size: 3.6rem;
    margin-top: 0;

    @include xxs-device {
      font-size: 2.4rem;
    }
  }

  &--underline {
    margin-bottom: 4rem;
    position: relative;

    @include xxs-device {
      margin-bottom: 4rem;
    }

    @include sm-device {
      margin-bottom: 4rem;
    }

    &::after {
      background: $verde;
      bottom: -1rem;
      content: '';
      height: 2px;
      left: 50%;
      min-width: 6rem;
      position: absolute;
      transform: translateX(-50%);
      width: 5%;
    }

    @include xxs-device {
      bottom: -1rem;
    }
  }
}

.parrafo {
  &-gris {
    color: $gris;
  }

  &-blanco {
    color: $blanco;
  }

  &-verde-intermedio {
    // color: $verde-intermedio;
  }
}
