.header {
  .video-container {
    background: $verde-black;
    background-size: cover;
    display: flex;

    video {
      display: flex;
      margin: 0 auto;
    }

    @include xxs-device {
      max-height: 23rem;
    }

    @include sm-device {
      max-height: 40rem;
    }
  }
}
