.headline {
  &--h2 {
    color: $verde-obscuro;
    font-size: 3.6rem;
    text-transform: uppercase;

    small {
      font-size: 1.8rem;
      // color: $verde-claro;
    }
  }
}

.parrafo {
  &-gris {
    color: $gris;
  }

  &-blanco {
    color: $blanco;
  }

  &-verde-intermedio {
    // color: $verde-intermedio;
  }
}
