.headline {
  &--h2 {
    color: $verde-obscuro;
    font-size: 3.6rem;
    text-transform: uppercase;

    small {
      font-size: 1.8rem;
      // color: $verde-claro;
    }
  }

  &--underline {
    margin-bottom: 4rem;
    position: relative;

    &::after {
      background: $verde;
      bottom: -2rem;
      content: '';
      height: 2px;
      left: 50%;
      min-width: 6rem;
      position: absolute;
      transform: translateX(-50%);
      width: 5%;
    }
  }
}

.parrafo {
  &-gris {
    color: $gris;
  }

  &-blanco {
    color: $blanco;
  }

  &-verde-intermedio {
    // color: $verde-intermedio;
  }
}
