.navbar {
    background: $marron-dark url('../images/backgrounds/HeaderBG.png') no-repeat center center;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0;

    @include xxs-device {
        background: $marron-dark;
    }
    @include sm-device {
        background: $marron-dark url('../images/backgrounds/HeaderBG.png') no-repeat center center;
    }


    &-header {
        @include xxs-device {
            background: $marron-dark url('../images/backgrounds/HeaderBG.png') no-repeat center center;
            display: block;
        }
        @include sm-device {
            background: $marron-dark;
        }
    }

    &-brand {
        height: auto;
        margin: 2.8rem 0;

        @include xxs-device {
            margin: 0;
            padding-left: 1.5rem;
            // transform: scale(.7);
        }
        @include sm-device {
            margin: 2.8rem 0;
            padding: 0;
            transform: none;
        }

        &-logo {

          @include xxs-device {
            max-height: 8rem;
          }

          @include sm-device {
            max-height: none;
          }
        }
    }

    &-nav {

        @include xxs-device {
          // padding: 0 15px;
        }

        li {
          @include xxs-device {
            width: 100%;
          }

          @include sm-device {
            width: auto;
          }

            a {
                color: $blanco;
                font-family: $clan;
                font-size: 1.6rem;
                text-transform: uppercase;

                @include xxs-device {
                    margin: .5rem;
                    padding: .5rem;
                }

                @include xs-device {
                  margin: .2rem;
                  padding: .2rem;
                }

                @include sm-device {
                    margin: .7rem;
                    padding: .7rem;
                }
                @include md-device {
                    margin: 1.2rem;
                    padding: 1.2rem;
                }
                @include lg-device {
                    margin: 1.2rem;
                    padding: 1.2rem;
                }

                &:active,
                &:focus,
                &:hover {
                    background-color: rgba($blanco, 0);
                }
            }
        }
    }

    &-toggle {
        background-color: $verde-obscuro;
        margin-top: 1.8rem;

        .icon-bar {
            background-color: $blanco;
        }

        @include xxs-device {
          margin: 3.8rem 1.5rem 3.8rem 0;
        }
    }

    &-primary {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }

    &-secondary {
        background: $verde-obscuro;
        border-width: 0;
        margin: 0;
        min-height: auto;
        padding: 0;

        @include xxs-device {
          padding: .8rem;
          text-align: center;

          .btn-primary {
            margin: 0 auto;
            text-align: center;
          }
        }

        @include sm-device {
          padding: 0;
        }



        .navbar-nav {
            li {
                &:first-child {
                    background: $verde-dark;

                    a {
                        margin: 1.2rem 3rem;
                    }
                }

                a {
                    color: $verde-claro;
                    margin: 1.2rem 2.8rem;
                    padding: 0;

                    @include xs-device {
                      margin: 1rem 2rem;
                    }
                }
            }
        }
    }

    &-collapse {
        position: relative;

        .navbar-collapse {
            .in {
                display: flex;
                overflow-y: auto;
            }
        }
    }
}

#navbar-primary {
    align-items: center;

    @include xxs-device {
        height: auto;
        padding-bottom: 15px;
    }

    @include sm-device {
        min-height: 17.8rem;
        padding-bottom: 0;

        button {
          margin-left: auto;
        }
    }

    hr {
      border-top-color: rgba($blanco, .1);
    }
}

#navbar-secondary {
    display: flex;
    @include xxs-device {
        display: none;

        .navbar-nav {

          @include xxs-device {
            margin-left: 0;
          }

          @include  sm-device {
            margin-left: 18.5rem;
          }



            li {
                &:first-child {
                    display: none;
                }
            }
        }
        @include sm-device {
            display: flex;

            .navbar-nav {
                li {
                    &:first-child {
                        display: block;
                    }
                }
            }
        }
    }
}
