.navbar {
  background: $marron-dark url('../images/backgrounds/HeaderBG.png') no-repeat center center;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding: 0;

    &-brand {
        height: auto;
        margin: 2.8rem 0;
        @include xxs-device {
          padding: 0;
          transform: scale(.7);
        }
        @include sm-device {
          padding: 0;
          transform: none;
        }
    }

    &-nav {
        li {
            a {
              color: $blanco;
              font-family: $clan;
              font-size: 2rem;
              text-transform: uppercase;

                @include xxs-device {
                    margin: .5rem;
                    padding: .5rem;
                }

                @include sm-device {
                    margin: 1.2rem;
                    padding: 1.2rem;
                }

              &:hover,
              &:active,
              &:focus {
                background-color: rgba($blanco, .1);
              }
            }
        }
    }

    &-toggle {
        background-color: $marron-claro;
        margin-top: 1.8rem;

        .icon-bar {
            background-color: $blanco;
        }
    }

    &-primary {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    &-secondary {
      background: $verde-obscuro;
      border-width: 0;
      margin: 0;
      min-height: auto;
      padding: 0;

      .navbar-nav {
        li {
          &:first-child {
            background: $verde-dark;

            a {
              margin: 1.2rem 3rem;
            }
          }

          a {
            color: $verde-claro;
            margin: 1.2rem 2.8rem;
            padding: 0;
          }
        }
      }
    }

    &-collapse {
      position: relative;

      .navbar-collapse {

        .in {
          display: flex;
          overflow-y: auto;
        }
      }
    }


}

#navbar-primary {
  align-items: center;

  @include xxs-device {
    height: auto;
  }

  @include sm-device {
    min-height: 17.8rem;   
  }
}

#navbar-secondary {
  display: flex;

  @include xxs-device {
    .navbar-nav {
      li {
        &:first-child {
          display: none;
        }
      }
    }
  @include sm-device {
    .navbar-nav {
      li {
        &:first-child {
          display: block;
        }
      }
    }
  }

  }
}
