.section {
    &--padding {
      padding: 8rem 0;
    }

    &--programas {
      background: $marron-verdoso url('../images/backgrounds/programas-bg.jpg') no-repeat center;
      background-size: cover;

      .lead {
        color: $blanco;
      }
    }

    &--instalaciones {
      background: $verde-obscuro;
      background-size: cover;

      .lead {
        color: $blanco;
      }
    }

    &--testimonios {
      background: $verde-dark;

      &__texto-container {
        border: 0;
        margin: auto;
        max-width: 60%;
      }

      &__texto {
        color: $verde-texto;
        max-width: 40rem;
      }

      &__author {
        color: $blanco;
        font-size: 1.8rem;
        margin-bottom: 0;
      }

      &__from {
        color: $verde-texto;
        margin: 0;
      }
    }
  }
